@import "reset.css";
@import "varibles.css";

/* components */
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-component.css";
@import "components/badge.css";
@import "components/point.css";
@import "components/user-component-more.css";
@import "components/icon-row.css";
@import "components/alt-screen-header.css";
@import "components/chat.css";
/* screens */
@import "screens/login.css";
@import "screens/Friends.css";
@import "screens/find.css";
@import "screens/more.css";
@import "screens/settings.css";
@import "screens/404.css";

body {
  color: #2e363e;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  height: 200vh;
}

.main-screen {
  padding-top: 130px;
  padding-left: 30px;
}

.main-screen1 {
  padding-top: 15px;
  padding-left: 30px;
}
